[Desktop Entry]
Terminal=false
Type=Application
Exec=/usr/bin/google-chrome-stable --incognito %U
Categories=Network;WebBrowser;
Name=Google Chrome Incognito Mode
Icon=/usr/share/icons/google_chrome_incognito.png
Comment=Access the Internet in Privacy
GenericName=Web Browser
StartupNotify=true
